{% extends "base.j2" %}

{% block blog_post %}
<article class="reading-block">

<h1 itemprop="headline">{{ resource.meta.title|typogrify }}</h1>
<p class="post-meta">
    Posted on
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%Y-%m-%d') }}
    </time> in
    <span>{{ resource.meta.category }}</span>
</p>

<div itemprop="articleBody">
{% filter markdown|typogrify -%}
    {% mark full_article_content -%}
        {% block article_content %}{% endblock %}
    {%- endmark %}
{%- endfilter %}
</div>
</article>

<hr class="reading-block">

<p class="reading-block">Don’t miss this one:<br />
{% if resource.next_by_latest is not none %}
     <a href="{{ resource.next_by_latest.full_url }}">
    {{ resource.next_by_latest.meta.title }}</a>
{% else %}
    {% set latest_post = site.content.walk_resources_sorted_by_latest()|first %}
     <a href="{{ latest_post.full_url }}">
    {{ latest_post.meta.title }}</a>
{% endif %}
</p>
{% endblock %}
